/* Body */
body {
    font-family:proxima nova,Roboto, Arial, sans-serif;
    margin: 0;
    padding: 0;

    background-color: #7469B6;

    color: white;
    
}
.page{
    font-family:proxima nova,Roboto, Arial, sans-serif;
    padding: 0;
    margin-top: 3px;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
    width: 90%;


}
.line{
    width:90%;
    height: 1px;
    margin:auto;
    border:0px solid black;
    border-radius: 2px;
    background-color: #FFE6E6;
}
.break{
    width: inherit;
    height:20px;


    background-color: #655c9c;
    border-top: 2px solid hsl(249, 24%, 41%);
 
  
}
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;


    /* margin-left: 5%;
    margin-right: 5%; */

    margin-bottom: 10px;
    
    background-color: #AD88C6;
    border-top: 7px solid #E1AFD1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-left: 1px solid #FFE6E6;
    border-right: 1px solid #FFE6E6;
    border-bottom:1px solid #FFE6E6;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px;
    
}
.hero header {
    display: border-box;
    justify-content: center;
    align-items: center;
    height: inherit;

    color: #fff;
    padding: 20px;
    text-align: center;



    
}

h1 {
    margin-top: 0;
}
h2 {
    line-height: 1.6;
}

/* navbar's code    */
nav {
    background-color: #AD88C6;
    color: #fff;
    padding: 10px 0;

}

.navbar {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    display: inline-block;
    margin-right: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

.nav-links li a:hover {
    text-decoration: underline;
    
}

/*main content*/
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: 5%;
    margin-right: 5%;
    border-top: 2px solid #FFE6E6;
    border-left: 1px solid #FFE6E6;
    border-right: 1px solid #FFE6E6;
    margin-top: 0px;

    border-radius: 50px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
    

}

.image{
    display: flex;

    width:40vw;

}
.image img{
    height: inherit;
    width: inherit;
    border-radius: 10px;

}
.about{
    margin: 10px;
    background-color: #AD88C6;
    text-align: center;
    border: 0px solid black;
    border-radius: 100px;
    width: 60vw;
    height: inherit;
    border-top: 5px solid #E1AFD1;
    border-left: 1px solid #E1AFD1;
    border-right: 1px solid #E1AFD1;

}
.about h3{
    margin: 15px;
}

/* link to my blogs and projects*/
.refer{
    
    border-bottom: 2px solid #FFE6E6;
    border-left: 1px solid #FFE6E6;
    border-right: 1px solid #FFE6E6;
    border-radius: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    


}
.projects{
    display: flex;
    width: 40vw;
    justify-content: center;
    align-items: center;
    background-color: #AD88C6;
    flex-direction: column;
    border-radius: 15px;
    margin: 10px;
    
}
.blogs{
    display: flex;
    width: 40vw;
    justify-content: center;
    align-items: center;
    background-color: #AD88C6;
    flex-direction: column;
    border-radius: 15px;
    margin: 10px;
    
}
.blogs img{
    margin-top: 10px;
    width: 60%;
    border-radius: 50px;
}
.projects img{
    width: 60%;
    margin-top: 10px;
    border-radius: 50px;

}
.refer p1{
    text-align: center;
    margin: auto;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
}
.refer h2 a:hover {
    text-decoration: underline;
}
.refer h2 a{
    color: #fff;
    text-decoration: none;
}
/* footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;

    margin-top: 2px;
}

footer p {
    margin: 0;
}

.footer {
    max-width: 800px;
    margin: 0 auto;
}
.gradient{

    background-image: linear-gradient(to bottom right,#e1afd138,#655c9c);
    background-position: 40%;
}
@media (max-width: 800px) {
    .main {
      flex-direction: column;
      
    }
    .about{
        margin:0px;
        width:100%;
    }
    .blogs{
        width: 100%;
    }
    .projects{
        width: 100%;
    }
    .page{
        margin-top: 0px;
        margin-bottom: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .hero{
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    }
}